.params {
  @include nav-page;
  input {
    width: 70vw;
    height: 1.5rem;
    margin-bottom: 10px;
  }
  &__email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &__password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
