.profil {
  min-height: 100vh;
  width: 100%;
  @include navbar-page;
  &__avatar {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;

    &__icon {
      display: block;
      object-fit: cover;
      width: 98%;
      height: 100%;
    }
  }
  &__input {
    text-align: center;
    &__label {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      font-weight: 900;
      display: block;
      margin-left: auto;
      margin-right: auto;
      color: #e32802;
      background-color: white;
      line-height: 48px;
      width: fit-content;
      height: 48px;
      border: 2px solid #fd2c03;
      border-radius: 15px;
      box-shadow: 5px 5px 10px grey;
    }
    &__button {
      display: none;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin: 10px 0 10px 0;
    &__modify {
      @include button-green;
    }
    &__delete {
      @include button-red;
    }
  }
  &__form {
    display: grid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 2 1fr;
    padding-bottom: 70px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px grey;
    &__username {
      grid-column: 1;
      margin-left: auto;
      margin-right: auto;
      &__lbl {
        grid-column: 1;
        display: block;
        text-align: center;
        margin-left: auto;
      }
      &__input {
        grid-column: 1;
        text-align: center;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        height: 2.5rem;
      }
    }
    &__job {
      grid-column: 1;
      grid-row: 4;
      margin-left: auto;
      margin-right: auto;
      &__lbl {
        grid-column: 1;
        display: block;
        text-align: center;
        margin-left: auto;
      }
      &__input {
        grid-column: 1;
        text-align: center;
        border-radius: 15px;
        display: block;
        margin-left: auto;
        height: 2.5rem;
      }
      &__validate {
        display: block;
        @include button-green;
        margin: -25px auto 20px auto;
      }
      &__delete {
        grid-column: 2;
        @include button-red;
        margin: auto auto 0px 10px;
      }
    }
  }

  &__userposts {
    &__title {
      text-align: center;
    }
    &__toggledisplay {
      cursor: pointer;
      font-size: 16px;
      border-radius: 25px;
      height: 48px;
      width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto 10px auto;
    }
    &__list {
      height: 0;
      overflow: hidden;
    }
    @import './posts';
  }
  &__usercomments {
    &__title {
      text-align: center;
    }
    &__toggledisplay {
      cursor: pointer;
      font-size: 16px;
      border-radius: 25px;
      height: 48px;
      width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto 10px auto;
    }
    &__list {
      height: 0;
      overflow: hidden;
    }
    @import './comments';
  }
  &__deleteaccount {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    height: 48px;
    width: 300px;
    display: block;
    margin: 20px;
    color: $colorAlerte;
    margin-right: auto;
    margin-left: auto;
  }
  @import '../components/confirmDelete';
}
