.profil {
  background-color: white;
  height: 100vh;
  @include navbar-page;
  &__avatar {
    display: flex;
    justify-content: center;
    margin: 20px auto 20px auto;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    overflow: hidden;

    &__icon {
      display: block;
      object-fit: cover;
      width: 98%;
      height: 100%;
    }
  }
  &__input {
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;
    &__modify {
      @include button-green;
    }
    &__delete {
      @include button-red;
    }
  }
  &__username {
    &__lbl {
      display: block;
      text-align: center;
    }
    &__input {
      text-align: center;
      border-radius: 15px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 1.5rem;
    }
    &__validate {
      @include button-green;
      display: block;
      margin: 10px auto 20px auto;
    }
  }
  &__userposts {
    &__title {
      text-align: center;
    }
    &__toggledisplay {
      font-size: 16px;
      border-radius: 25px;
      height: 48px;
      width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto 10px auto;
    }
    &__list {
      height: 0;
      overflow: hidden;
    }
    @import './posts';
  }
  &__usercomments {
    &__title {
      text-align: center;
    }
    &__toggledisplay {
      font-size: 16px;
      border-radius: 25px;
      height: 48px;
      width: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0px auto 10px auto;
    }
    &__list {
      height: 0;
      overflow: hidden;
    }
    @import './comments';
  }
  &__deleteaccount {
    font-size: 16px;
    font-weight: 700;
    border-radius: 25px;
    height: 48px;
    width: 300px;
    display: block;
    margin: 20px;
    color: $colorAlerte;
    margin-right: auto;
    margin-left: auto;
  }
}
