.signup {
  @media all and (min-width: 768px) {
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px grey;
  }
  @import '../components/formconnect';

  &__loginlink {
    text-align: center;
  }
}
