.header {
  font-family: 'Roboto-Black';
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: $backgroundColorHeader;
  &__name {
    @include object-center;
    &__title {
      color: white;
    }
    &__logo {
      height: 50px;
    }
  }
  @import '../components/menuheader';
}
