.header {
  font-size: 0.8rem;
  height: 72px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $backgroundColorHeader;
  position: fixed;
  top: 0px;
  z-index: 3;
  &__name {
    @include object-center;
    &__title {
      color: white;
    }
    &__logo {
      padding-left: 10px;
      height: 50px;
    }
  }
  &__menu {
    @media all and (min-width: 768px) {
      margin-right: 40px;
      margin-left: auto;
    }
    position: absolute;
    right: 5px;
    &__area {
      @include object-center;
      cursor: pointer;
      position: relative;
      right: 0px;
      background-color: white;
      border-radius: 25px;
      width: 48px;
      height: 48px;
      overflow: hidden;
      &__icon {
        object-fit: cover;
        width: 90%;
      }
    }
  }
  &__navbar {
    position: relative;
    top: -3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $backgroundColorHeader;
    overflow: hidden;
    width: 100vw;
    padding-left: 20px;
    color: white;
    transition: height 0.5s ease-in-out;
    height: 0;
    z-index: 3;
    &__admin {
      @include icon-menu-navbar;
    }
    &__params {
      @include icon-menu-navbar;
    }
    &__profil {
      @include icon-menu-navbar;
    }
    &__logout {
      @include icon-menu-navbar;
    }
  }
}
