.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  background-color: $backgroundColorHeader;
  &__name {
    @include object-center;
    &__title {
      color: white;
    }
    &__logo {
      height: 50px;
    }
  }
  &__menu {
    @include object-center;
    padding-right: 20px;
    height: 20px;
    &__icon {
      height: 30px;
    }
  }
}
