& > main {
  min-height: 77vh;
  margin-bottom: 70px;
  span {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }
  @import '../pages/signup';
  @import '../pages/login';
  @import '../pages/posts';
  @import '../pages/comments';
  @import '../pages/profil';
  @import '../pages/params';
  @import '../pages/admin';
}
