& > main {
  .login,
  .signup {
    margin-top: 20vh;
  }
  .params,
  .posts,
  .comments,
  .profil,
  .admin {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  background-image: url('../../assets/images/icon.png');
  @media all and (min-width: 768px) {
    margin-left: 13vw;
    margin-right: 13vw;
    margin-bottom: 0;
    min-height: 0;
  }
  min-height: 100vh;
  background-color: white;
  margin-bottom: 70px;
  margin-top: 70px;

  @import '../pages/signup';
  @import '../pages/login';
  @import '../pages/posts';
  @import '../pages/comments';
  @import '../pages/profil';
  @import '../pages/params';
  @import '../pages/admin';
  @import '../pages/viewuserprofil';
  @import '../pages/error';
}
