@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url('../../assets/fonts/Roboto-Black.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Blackitalic';
  src: url('../../assets/fonts/Roboto-BlackItalic.ttf');
  font-display: swap;
}
