&__post {
  @import '../components/createone';
  position: relative;
  top: 0px;
  background-color: $backgroundPost;
  width: 100%;
  padding-bottom: 20px;
  box-shadow: 0px 5px 15px grey;
  margin-bottom: 25px;
  margin-top: 10px;
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    &__author {
      font-size: 16px;
    }
    &__date {
      font-style: italic;
      font-weight: 900;
      font-size: 14px;
      bottom: 0px;
    }
    &__linkavatar {
      margin-left: auto;
      &__avatar {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: 10px;
        &__img {
          border-radius: 50px;
          width: 92%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &__linkauthor {
      text-decoration: none;
      color: black;
    }
  }
  &__figure {
    margin: 0px;
    @media all and (min-width: 768px) {
      margin: auto;
    }
    &__img {
      display: block;
      width: 100%;
      @media all and (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &__content {
    padding: 0 20px 20px 20px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    @media all and (min-width: 768px) {
      padding: 0 40px 0 40px;
    }
    &__like {
      width: 50px;
      height: 48px;
      &__link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
      &__nb {
        padding: 12px 0px 0px 5px;
      }
      &__icon {
        font-size: 24px;
        padding: 5px;
      }
    }
    &__dislike {
      position: relative;
      width: 100px;
      height: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 16px;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
      &__nb {
        padding: 12px 0px 0px 5px;
      }
      &__icon {
        font-size: 24px;
        padding: 5px;
      }
    }
    &__comments {
      position: relative;
      width: 100px;
      height: 48px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__link {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        background-color: transparent;
        border: none;
      }
      &__nb {
        padding: 12px 0px 0px 5px;
      }
      &__icon {
        font-size: 24px;
        padding: 5px;
      }
    }
  }
  &__ownerMenu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid;
    padding: 20px 20px 0 20px;
    &__modify {
      @include button-green;
    }
    &__delete {
      @include button-red;
    }
  }
}
