&__post {
  position: relative;
  top: 0px;
  background-color: lighten($backgroundPost, 20%);
  width: 100vw;
  padding-bottom: 20px;
  border-top: 1px solid;
  border-bottom: 1px solid;
  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    &__date {
      position: absolute;
      font-style: italic;
      bottom: 0px;
    }
    &__avatar {
      margin-left: auto;
      margin-right: 10px;
    }
  }
  &__figure {
    &__img {
      display: block;
      width: 50vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &__content {
    text-align: center;
    padding: 0 20px 20px 20px;
  }
  &__footer {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    &__like {
      position: relative;
      width: 50px;
      height: 59px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__view {
        display: flex;
        align-items: baseline;
        justify-content: center;
        &__describ {
          display: block;
          padding-right: 10px;
        }
      }
    }
    &__dislike {
      position: relative;
      width: 100px;
      height: 59px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__view {
        display: flex;
        align-items: baseline;
        justify-content: center;
        &__describ {
          display: block;
          padding-right: 10px;
        }
      }
    }
    &__comments {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      &__view {
        display: flex;
        align-items: baseline;
        justify-content: center;
        &__describ {
          display: block;
          padding-right: 10px;
        }
      }
    }
  }
  &__ownerMenu {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid;
    padding: 20px 20px 0 20px;
  }
}
